h3{
    text-align: center;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(240, 248, 255);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

body{
    background-color: rgb(41, 41, 41);
}

main{
    border-radius: 7px;
    background: linear-gradient(180deg,rgb(59, 60, 60) 1%, rgb(59, 60, 61) 100%);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(224, 232, 240);
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 160px;
    margin-right: 160px;
    padding-top: 15px;
    padding-bottom: 15px;
}

img{
    border-radius: 6px;
    border: 3px solid rgb(240, 248, 255);
    padding: 3px;
    margin-left: 0.5px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(215, 220, 226);
}

a:visited{
    color:rgb(191, 198, 206);
}

a:hover{
    color: rgb(190, 198, 207);
}